@import 'common/reset.less';
@import 'common/func.less';

div[id*='-content-txt']{
	color: #322e2f;
	font-size: 22px;
	text-align: center;
	background: url(imgs/6/txt.png) no-repeat center 0;
	padding-top: 40px;
	line-height: 1.2;
	position: absolute;
	min-width: 100px;
	z-index: 100;
}

[id^="swiper-"]{
	.bg-cover();
	position: absolute;
	width: 100%;
	height: 100%;
}
[id^="bg-swiper-"]{
	.bg-cover();
	position: absolute;
	width: 100%;
	height: 100%;
}

.horizontal{
	[id^="bg-swiper-"]{
		.bg-cover();
		background-position: center top;
		border: 12px solid #d2d3d5;
		position: absolute;
		left: 50%;
		top: 80px;
		margin-left: -297px;
		width: 594px;
		height: 504px;
	}
}

.wrap{
	position: absolute;
	width: 640px;
	height: 100%;
	overflow: hidden;
	left: 50%;
	margin-left: -320px;
	font-size: 22px;
	text-align: center;
}

.swiper-container{
	position: absolute;
	width: 100%;
	height: 100%;
}

.swiper-slide{
	width: 100%;
	height: 100%;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center;
	.bg-cover();
}

#swiper-1{
	.bg-cover();
}

.fir-bg-ani{
	.ab-center(610px, 573px);
	.bg-normal('imgs/1/bg-ani.png');
	.bg-contain();
	top: 0;
	-webkit-transform-origin: center top;
	transform-origin: center top;
	.ani-name(fir-bg-ani);
}
@-webkit-keyframes fir-bg-ani{
	0%{
		-webkit-transform: tranlateX(0) translateY(0) scale(.8);
		transform: tranlateX(0) translateY(0) scale(.8);
		opacity: .8;
	}
	50%{
		opacity: .8;
	}
	100%{
		-webkit-transform: translateX(-20px) translateY(80px) scale(1.2);
		transform: translateX(-20px) translateY(80px) scale(1.5);
		opacity: 0;
	}
}

.fir-bg-ani2{
	.ab-center(610px, 573px);
	.bg-normal('imgs/1/bg-ani.png');
	.bg-contain();
	.ani-name(fir-bg-ani2);
}
@-webkit-keyframes fir-bg-ani2{
	0%{
		-webkit-transform: scale(.8);
		transform: scale(.8);
		opacity: .5;
	}
	50%{
		opacity: .5;
	}
	100%{
		-webkit-transform: scale(1.5);
		transform: scale(1.5);
		opacity: 0;
	}
}

.circle-moved-wrap{
	.ab-center(450px, 405px);
}

.circle-moved{
	.ab-center(352px, 360px);
}

.circle-out{
	background: url(imgs/1/bg-circle-out.png) no-repeat center center;
	.bg-contain();
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
}

.circle-inner{
	background: url(imgs/1/bg-cicle-inner.png) no-repeat center center;
	.bg-contain();
	.ab-center(300px, 300px);
	z-index: 2;
}

.circle-content{
	background: url(imgs/1/bg-circle.png) no-repeat center center;
	.bg-contain();
	.ab-center(278px, 278px);
	text-align: center;

	>p{
		.bg-normal('imgs/1/txt.png');
		.bg-contain();
		.ab-center(154px, 191px);
		margin-top: -90px;
	}

}

.circle-show{
	background: url(imgs/1/show.png) no-repeat center center;
	.bg-contain();
	position: absolute;
	top: 0;
	left: 0;
	z-index: 50;
	width: 100%;
	height: 100%;
	.ani-name(circle-show);
}
@-webkit-keyframes circle-show{
	0%{
		-webkit-transform: scale(5);
	}

	100%{
		-webkit-transform: scale(1);
	}
}

.fir-shadow{
	background: url(imgs/1/bg-fir-shadow.png) no-repeat center center;
	.bg-contain();
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -163px;
	margin-top: 184px;
	width: 326px;
	height: 216px;
	-webkit-animation-name: fir-shadow;
    animation-name: fir-shadow;
}
@-webkit-keyframes fir-shadow{
	0%{
		height: 0
	}

	100%{
		height: 216px;
	}
}

@keyframes fir-shadow{
	0%{
		height: 0
	}

	100%{
		height: 216px;
	}
}
.fir-circle-s{
	.bg-normal('imgs/1/circle-s.png');
	position: absolute;
	left: 10px;
	bottom: 0;
	width: 28px;
	height: 28px;
	.ani-name(fir-circle-s);
}
@-webkit-keyframes fir-circle-s{
	0%{
		-webkit-transform: scale(.1);
		transform: scale(.1);
	}
	10%{
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	60%{
		opacity: .8
	}
	100%{
		-webkit-transform: scale(2);
		transform: scale(2);
		opacity: 0;
	}
}

.fir-ring-wrap{
	position: absolute;
	top: 0;
	right: 0;
	width: 80px;
	height: 60px;

	.ring{
		.bg-normal('imgs/1/quan.png');
		position: absolute;
		top: 0;
		left: 0;
		width: 46px;
		height: 46px;
		.ani-name(fir-ring);
	}
	.ring-c-inner{
		.bg-normal('imgs/1/circle-s.png');
		position: absolute;
		top: 9px;
		left: 9px;
		width: 28px;
		height: 28px;
		.ani-name(fir-ring);
		.ani-delay(.5s);
	}
	.ring-c-out{
		.bg-normal('imgs/1/circle-xs.png');
		position: absolute;
		right: 0;
		top: 10px;
		width: 17px;
		height: 17px;
		.ani-name(fir-ring);
		.ani-delay(1.5s);
	}
}
@-webkit-keyframes fir-ring{
	0%{
		-webkit-transform: scale(.1);
		transform: scale(.1);
		opacity: 0;
	}
	10%{
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
	100%{
		-webkit-transform: scale(1.5);
		transform: scale(1.5);
		opacity: 0;
	}
}

.fir-ring-s{
	.bg-normal('imgs/1/quan-s.png');
	position: absolute;
	left: 10px;
	bottom: 100px;
	width: 15px;
	height: 15px;
	.ani-name(fir-ring);
}
@-webkit-keyframes fir-ring{
	0%{
		-webkit-transform: scale(.1);
		transform: scale(.1);
		opacity: 0;
	}
	10%{
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
	100%{
		-webkit-transform: scale(3);
		transform: scale(3);
		opacity: 0;
	}
}

#swiper-2{
	.bg-cover();
}

#sec-content-txt{
	background-image: url(imgs/2/txt.png);
    min-width: 126px;
    padding-top: 25px;
    font-size: 18px;
    left: -91px;
    top: 41px;
}

.sec-fashion-wrap{
	position: absolute;
	bottom: 180px;
	left: 50%;
	margin-left: -252px;
	width: 504px;
	height: 80px;
	z-index: 10;
}
.sec-fashion-fade{
	position: absolute;
	width: 100%;
	height: 100%;
	.ani-name(sec-fashion-fade);
	.ani-delay(2.1s);
}
@-webkit-keyframes sec-fashion-fade{
	0%{
		opacity: 1;
	}
	50%{
		opacity: .5;
	}
	100%{
		opacity: 1;
	}
}

@keyframes sec-fashion-fade{
	0%{
		opacity: 1;
	}
	50%{
		opacity: .5;
	}
	100%{
		opacity: 1;
	}
}

.sec-fashion{
	background: url(imgs/2/fashion-0.png) no-repeat center center;
	.bg-contain();
	position: absolute;
	width: 504px;
	height: 80px;
	-webkit-animation-name: fashion;
	animation-name: fashion;
	-webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}
@-webkit-keyframes fashion{
	0%{
		background-image: url(imgs/2/fashion-0.png);
	}
	12%{
		background-image: url(imgs/2/fashion-1.png);
	}
	24%{
		background-image: url(imgs/2/fashion-2.png);
	}
	36%{
		background-image: url(imgs/2/fashion-3.png);
	}
	48%{
		background-image: url(imgs/2/fashion-4.png);
	}
	60%{
		background-image: url(imgs/2/fashion-5.png);
	}
	72%{
		background-image: url(imgs/2/fashion-6.png);
	}
	84%{
		background-image: url(imgs/2/fashion-7.png);
	}
	100%{
		// background-image: url(imgs/2/fashion-7.png);
	}
}
@keyframes fashion{
	0%{
		background-image: url(imgs/2/fashion-0.png);
	}
	12%{
		background-image: url(imgs/2/fashion-1.png);
	}
	24%{
		background-image: url(imgs/2/fashion-2.png);
	}
	36%{
		background-image: url(imgs/2/fashion-3.png);
	}
	48%{
		background-image: url(imgs/2/fashion-4.png);
	}
	60%{
		background-image: url(imgs/2/fashion-5.png);
	}
	72%{
		background-image: url(imgs/2/fashion-6.png);
	}
	84%{
		background-image: url(imgs/2/fashion-7.png);
	}
	100%{
		// background-image: url(imgs/2/fashion-7.png);
	}
}

.sec-circle{
	background: url(imgs/2/bg-circle.png) no-repeat center center;
	.bg-contain();
	position: absolute;
	bottom: 100px;
	right: 100px;
	width: 240px;
	height: 240px;
	z-index: 5;
	-webkit-animation-name: sec-circle;
    animation-name: sec-circle;
	-webkit-animation-duration: 8s;
    animation-duration: 8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes sec-circle{
	0%{
		-webkit-transform: scale3d(.8, .8, .8);
            transform: scale3d(.8, .8, .8);
            opacity: 1;
	}
	100%{
		-webkit-transform: scale3d(1.2, 1.2, 1.2);
            transform: scale3d(1.2, 1.2, 1.2);
            opacity: 0;
	}
}
@keyframes sec-circle{
	0%{
		-webkit-transform: scale3d(.8, .8, .8);
            transform: scale3d(.8, .8, .8);
            opacity: 1;
	}
	100%{
		-webkit-transform: scale3d(1.2, 1.2, 1.2);
            transform: scale3d(1.2, 1.2, 1.2);
            opacity: 0;
	}
}

.sec-black{
	background: url(imgs/2/black.png) no-repeat center center;
	.bg-contain();
	position: absolute;
	bottom: 0;
	right: 300px;
	width: 111px;
	height: 165px;
	z-index: 10;
	-webkit-animation-name: sec-black;
    animation-name: sec-black;
}
@-webkit-keyframes sec-black{
	0%{
		-webkit-transform: translate(0, 0, 0);
            transform: translate3d(0, 0, 0);
	}
	80%{
		-webkit-transform: translate(100%, -100%, 0);
            transform: translate3d(100%, -100%, 0);

	}
	100%{
		-webkit-transform: translate(800%, -800%, 0);
            transform: translate3d(800%, -800%, 0);
	}
}
@keyframes sec-black{
	0%{
		-webkit-transform: translate(0, 0, 0);
            transform: translate3d(0, 0, 0);
	}
	80%{
		-webkit-transform: translate(100%, -100%, 0);
            transform: translate3d(100%, -100%, 0);

	}
	100%{
		-webkit-transform: translate(800%, -800%, 0);
            transform: translate3d(800%, -800%, 0);
	}
}

.sec-yellow{
	background: url(imgs/2/line-y.png) no-repeat center center;
	.bg-contain();
	position: absolute;
	bottom: 300px;
	right: 0;
	width: 111px;
	height: 165px;
	z-index: 1;
	-webkit-animation-name: sec-yellow;
    animation-name: sec-yellow;
}

@-webkit-keyframes sec-yellow{
	0%{
		-webkit-transform: translate(0, 0, 0);
            transform: translate3d(0, 0, 0);
	}
	30%{
		-webkit-transform: translate(-100%, 100%, 0);
            transform: translate3d(-100%, 100%, 0);

	}
	100%{
		-webkit-transform: translate(-800%, 800%, 0);
            transform: translate3d(-800%, 800%, 0);
	}
}

@keyframes sec-yellow{
	0%{
		-webkit-transform: translate(0, 0, 0);
            transform: translate3d(0, 0, 0);
	}
	30%{
		-webkit-transform: translate(-100%, 100%, 0);
            transform: translate3d(-100%, 100%, 0);

	}
	100%{
		-webkit-transform: translate(-800%, 800%, 0);
            transform: translate3d(-800%, 800%, 0);
	}
}

.ring-wrap{
	position: absolute;
	top: 113px;
	right: 50px;
	width: 114px;
	height: 114px;
}

.ring-light{
	position: absolute;
	top: 6px;
	left: 6px;
	width: 102px;
	height: 102px;
	z-index: 2;

	-webkit-animation-name: light;
	        animation-name: light;
	        -webkit-animation-duration: 1s;
	        animation-duration: 1s;
	        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;

    
}
.ring-light .light{
	background: url(imgs/2/icon-ring-light.png) no-repeat center center;
	-webkit-background-size: contain;
	background-size: contain;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -32px;
	width: 64px;
	height: 69px;
}
@-webkit-keyframes light {
    0% {
    	-webkit-transform: rotateZ(-30deg);
        transform: rotateZ(-30deg);
    }
    99% {
       -webkit-transform: rotateZ(215deg);
        transform: rotateZ(215deg);
        opacity: 1;
    }
    100% {
    	opacity: 0;
    }
}
@keyframes light {
    0% {
    	-webkit-transform: rotateZ(-30deg);
        transform: rotateZ(-30deg);
    }
    99% {
       -webkit-transform: rotateZ(215deg);
        transform: rotateZ(215deg);
        opacity: 1;
    }
    100% {
    	opacity: 0;
    }
}
.ring{
	background: url(imgs/2/icon-ring.png) no-repeat right center;
	-webkit-background-size: contain;
	background-size: contain;
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 1;
	width: 94px;
	height: 94px;
}

.ring-font{
	-webkit-animation-name: ring-font;
	        animation-name: ring-font;
	-webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        -webkit-animation-duration: .5s;
    animation-duration: .5s;
}
@-webkit-keyframes ring-font {
    0% {
    	-webkit-transform: translate(-999px, 0, 0);
            transform: translate3d(-999px, 0, 0);
    }
    100% {
    	-webkit-transform: translate(0, 0, 0);
            transform: translate3d(0, 0, 0);
    }
}
@keyframes ring-font {
    0% {
    	-webkit-transform: translate(-999px, 0, 0);
            transform: translate3d(-999px, 0, 0);
    }
    100% {
    	-webkit-transform: translate(0, 0, 0);
            transform: translate3d(0, 0, 0);
    }
}
.sec-button-font{
	background: url(imgs/2/bottom-font.png) no-repeat center center;
	.bg-contain();
	position: absolute;
	right: 50px;
	bottom: 50px;
	width: 109px;
	height: 41px;
}

.third-ring{
	background: url(imgs/3/ring.png) no-repeat center center;
	.bg-contain();
	position: absolute;
	top: -80px;
	left: -80px;
	width: 156px;
	height: 158px;
	-webkit-animation-name: third-ring;
	animation-name: third-ring;
}

@-webkit-keyframes third-ring{
    0% {
    	-webkit-transform: translate(0, 0, 0);
            transform: translate3d(0, 0, 0);
    }
    30%{
    	-webkit-transform: translate(20px, 20px, 0);
            transform: translate3d(20px, 20px, 0);
        opacity: 1;
    }
    100% {
    	-webkit-transform: translate(50px, 50px, 0);
            transform: translate3d(50px, 50px, 0);
        opacity: 0;
    }
}

@keyframes third-ring{
    0% {
    	-webkit-transform: translate(0, 0, 0);
            transform: translate3d(0, 0, 0);
    }
    30%{
    	-webkit-transform: translate(20px, 20px, 0);
            transform: translate3d(20px, 20px, 0);
        opacity: 1;
    }
    100% {
    	-webkit-transform: translate(30px, 30px, 0);
            transform: translate3d(30px, 30px, 0);
        opacity: 0;
    }
}

.third-circle{
	background: url(imgs/3/circle.png) no-repeat center center;
	.bg-contain();
	position: absolute;
	right: 0;
	bottom: 0;
	width: 447px;
	height: 337px;
	-webkit-animation-name: third-circle;
	animation-name: third-circle;
	-webkit-transform-origin: right bottom;
	transform-origin: right bottom;
	z-index: 5;
}

@-webkit-keyframes third-circle{
    0% {
    	-webkit-transform: translate(200px, 200px, 0);
            transform: translate3d(200px, 200px, 0);
    }
    5%{
    	-webkit-transform: translate(0, 0, 0);
            transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    80%{
    	opacity: .5;
    }
    100% {
    	-webkit-transform: translate(0, 0, 0) scale(1.3);
            transform: translate3d(0, 0, 0) scale(1.3);
        opacity: 0;
    }
}

@keyframes third-circle{
    0% {
    	-webkit-transform: translate(200px, 200px, 0);
            transform: translate3d(200px, 200px, 0);
    }
    5%{
    	-webkit-transform: translate(0, 0, 0);
            transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    80%{
    	opacity: .5;
    }
    100% {
    	-webkit-transform: translate(0, 0, 0) scale(1.3);
            transform: translate3d(0, 0, 0) scale(1.3);
        opacity: 0;
    }
}

.third-sj, .third-sj-s{
	background: url(imgs/3/sj.png) no-repeat center center;
	.bg-contain();
	position: absolute;
	right: 430px;
	bottom: 200px;
	z-index: 1;
	width: 47px;
	height: 61px;
	.ani-name(third-sj);
	-webkit-animation-direction: alternate;
	animation-direction: alternate;
}

.third-sj-s{
	background-image: url(imgs/3/sj-s.png);
	right: 50px;
	bottom: 400px;
}

@-webkit-keyframes third-sj{
    0% {
    }
    100% {
    	-webkit-transform: rotateZ(45deg) perspective(300px);
    }
}
@keyframes third-sj{
    0% {
    }
    100% {
    	-webkit-transform: rotateZ(45deg) perspective(300px);
    }
}

#third-content-txt{
	background-image: url(imgs/3/txt.png);
	bottom: 150px;
	left: 50%;
	margin-left: -146px;
	min-width: 292px;
	padding-top: 65px;
}

.fourth-circle{
	background: url(imgs/4/circle.png) no-repeat center center;
	.bg-contain();
	position: absolute;
	left: 310px;
	bottom: 160px;
	width: 95px;
	height: 95px;
	-webkit-animation-name: fourth-circle;
	animation-name: fourth-circle;
}

@-webkit-keyframes fourth-circle{
    0% {
    }
    100% {
    	-webkit-transform: scale(1.5);
    	transform: scale(1.5);
    	opacity: 0;
    }
}
@keyframes fourth-circle{
    0% {
    }
    100% {
    	-webkit-transform: scale(1.5);
    	transform: scale(1.5);
    	opacity: 0;
    }
}

.fourth-circle-half{
	background: url(imgs/4/circle-half.png) no-repeat center center;
	position: absolute;
	left: 0;
	bottom: 200px;
	width: 376px;
	height: 630px;
	-webkit-animation-name: fourth-circle-half;
	animation-name: fourth-circle-half;
	-webkit-transform-origin: left center;
	transform-origin: left center;
}
@-webkit-keyframes fourth-circle-half{
    0% {
    	-webkit-transform: translateX(-376px);
    	transform: translateX(-376px);
    }
    10% {
    	-webkit-transform: translateX(0);
    	transform: translateX(0);
    	opacity: 1;
    }
    100%{
    	-webkit-transform: scale(1.2);
    	transform: scale(1.2);
    	opacity: 0;
    }
}
@keyframes fourth-circle-half{
    0% {
    	-webkit-transform: translateX(-376px);
    	transform: translateX(-376px);
    }
    10% {
    	-webkit-transform: translateX(0);
    	transform: translateX(0);
    	opacity: 1;
    }
    100%{
    	-webkit-transform: scale(1.2);
    	transform: scale(1.2);
    	opacity: 0;
    }
}

#fourth-content-txt{
	background-image: url(imgs/4/txt.png);
	bottom: 78px;
	left: 50%;
	margin-left: -102px;
	min-width: 204px;
}

.fifth-circle{
	background: url(imgs/5/circle.png) no-repeat center center;
	.bg-contain();
	position: absolute;
	right: 50px;
	bottom: 300px;
	width: 66px;
	height: 66px;
	-webkit-animation-name: fourth-circle;
	animation-name: fourth-circle;
}

.fifth-circle-half{
	background: url(imgs/5/circle-half.png) no-repeat center center;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 307px;
	-webkit-animation-name: fifth-circle-half;
	animation-name: fifth-circle-half;
	-webkit-transform-origin: center bottom;
	transform-origin: center bottom;
}
@-webkit-keyframes fifth-circle-half{
    0% {
    	-webkit-transform: translateY(307px);
    	transform: translateY(307px);
    }
    10% {
    	-webkit-transform: translateY(0);
    	transform: translateY(0);
    	opacity: 1;
    }
    100%{
    	-webkit-transform: scale(1.2);
    	transform: scale(1.2);
    	opacity: 0;
    }
}
@keyframes fifth-circle-half{
    0% {
    	-webkit-transform: translateY(307px);
    	transform: translateY(307px);
    }
    10% {
    	-webkit-transform: translateY(0);
    	transform: translateY(0);
    	opacity: 1;
    }
    100%{
    	-webkit-transform: scale(1.2);
    	transform: scale(1.2);
    	opacity: 0;
    }
}

#fifth-content-txt{
	background-image: url(imgs/5/txt.png);
	left: 50%;
	bottom: 84px;
	margin-left: -150px;
	min-width: 300px;
}

#sixth-content-txt{
	left: 63px;
  	bottom: 76px;
	min-width: 162px;
}

.sixth-circle{
	background: url(imgs/6/circle.png) no-repeat center center;
	.bg-contain();
	position: absolute;
	bottom: 29px;
    left: 45px;
	width: 202px;
	height: 202px;
	-webkit-animation-name: sixth-circle;
	animation-name: sixth-circle;
}
@-webkit-keyframes sixth-circle{
    0% {
    	webkit-transform: scale(.5);
    	transform: scale(.5);
    }
    5%{
    	webkit-transform: scale(1);
    	transform: scale(1);
    }
    50%{
    	opacity: .8;
    }
    100%{
    	-webkit-transform: scale(1.5);
    	transform: scale(1.5);
    	opacity: 0;
    }
}
@keyframes sixth-circle{
    0% {
    	webkit-transform: scale(.5);
    	transform: scale(.5);
    }
    5%{
    	webkit-transform: scale(1);
    	transform: scale(1);
    }
    50%{
    	opacity: .8;
    }
    100%{
    	-webkit-transform: scale(1.5);
    	transform: scale(1.5);
    	opacity: 0;
    }
}

.sixth-ring{
	background: url(imgs/6/ring.png) no-repeat center center;
	.bg-contain();
	position: absolute;
	bottom: 0;
	left: 0;
	width: 364px;
	height: 350px;
	-webkit-animation-name: sixth-ring;
	animation-name: sixth-ring;
	-webkit-transform-origin: left bottom;
	transform-origin: left bottom;
}
@-webkit-keyframes sixth-ring{
    0% {
    }
    50%{
    	opacity: .6;
    }
    100%{
    	-webkit-transform: scale(1.2);
    	transform: scale(1.2);
    	opacity: 0;
    }
}
@keyframes sixth-ring{
    0% {
    }
    50%{
    	opacity: .6;
    }
    100%{
    	-webkit-transform: scale(1.2);
    	transform: scale(1.2);
    	opacity: 0;
    }
}

.sixth-circle-top{
	background: url(imgs/6/circle.png) no-repeat center center;
	.bg-contain();
	position: absolute;
	top: -90px;
	right: -90px;
	width: 180px;
	height: 180px;
	-webkit-animation-name: sixth-circle-top;
	animation-name: sixth-circle-top;

}
@-webkit-keyframes sixth-circle-top{
    0% {
    }
    50%{
    	opacity: .6;
    }
    100%{
    	-webkit-transform: translateX(-10px) translateY(10px) scale(1.2);
    	transform: translateX(-10px) translateY(10px) scale(1.2);
    	opacity: 0;
    }
}
@keyframes sixth-circle-top{
    0% {
    }
    50%{
    	opacity: .6;
    }
    100%{
    	-webkit-transform: translateX(-10px) translateY(10px) scale(1.2);
    	transform: translateX(-10px) translateY(10px) scale(1.2);
    	opacity: 0;
    }
}

#swiper-7{
	.bg-cover();
}

.seven-action{
	.ab-center(280px, 60px);
	z-index: 100;

	.w-left, .w-right{
		.bg-normal('imgs/7/w.png');
		position: absolute;
		top: 50%;
		margin-top: -29px;
		width: 78px;
		height: 58px;
	}

	.w-left{
		left: 0;
		.ani-name(seven-w-left);
	}

	.w-right{
		right: 0;
		.ani-name(seven-w-right);
	}

	.btn-wrap{
		.bg-normal('imgs/7/btn-wrap.png');
		.bg-contain();
		.ab-center(58px, 58px);
		margin-left: -28.5px;
		margin-top: -28.5px;
		z-index: 2;
	}
	.btn{
		.bg-normal('imgs/bg-circle.png');
		.bg-contain();
		.ab-center(40px, 40px);
	}
}
@-webkit-keyframes seven-w-left{
    0% {
    	-webkit-transform: translateX(-500px);
    	transform: translateX(-500px);
    }
    100%{
    	-webkit-transform: translateX(0);
    	transform: translateX(0);
    }
}
@keyframes seven-w-left{
    0% {
    	-webkit-transform: translateX(-500px);
    	transform: translateX(-500px);
    }
    100%{
    	-webkit-transform: translateX(0);
    	transform: translateX(0);
    }
}
@-webkit-keyframes seven-w-right{
    0% {
    	-webkit-transform: translateX(500px);
    	transform: translateX(500px);
    }
    100%{
    	-webkit-transform: translateX(0);
    	transform: translateX(0);
    }
}
@keyframes seven-w-right{
    0% {
    	-webkit-transform: translateX(500px);
    	transform: translateX(500px);
    }
    100%{
    	-webkit-transform: translateX(0);
    	transform: translateX(0);
    }
}

.seven-action-children{
	.ani-name(seven-action-children);
}
@-webkit-keyframes seven-action-children{
    0% {
    }
    100%{
    	// visibility: hidden;
    }
}
@keyframes seven-action-children{
    0% {
    }
    100%{
    	// visibility: hidden;
    }
}

.seven-hand{
	.bg-normal('imgs/7/hand.png');
	.bg-contain();
	.ab-center(42px, 45px);
	.ani-name(seven-hand);
}
@-webkit-keyframes seven-hand{
    0% {
    	-webkit-transform: translateX(200px) translateY(150px);
    }
    50%{
    	-webkit-transform: translateX(5px) translateY(50px);
    }
    80%{
    	-webkit-transform: translateX(5px) translateY(50px);
    	.ani-time-func(ease-in);
    }
    100%{
    	-webkit-transform: translateX(5px) translateY(20px) translateZ(100px) perspective(500px) scale(.8);
    }
}
@keyframes seven-hand{
    0% {
    	-webkit-transform: translateX(200px) translateY(150px);
    }
    50%{
    	-webkit-transform: translateX(5px) translateY(50px);
    }
    80%{
    	-webkit-transform: translateX(5px) translateY(50px);
    	.ani-time-func(ease-in);
    }
    100%{
    	-webkit-transform: translateX(5px) translateY(20px) translateZ(100px) perspective(500px) scale(.8);
    }
}

.seven-bomb{
	.bg-normal('imgs/7/bomb.png');
	.bg-contain();
	.ab-center(401px, 453px);
	.ani-name(seven-bomb);
}
.seven-bomb-child{
	.ani-delay(0.2s);
	.bg-normal('imgs/7/bomb-2.png');
}
@-webkit-keyframes seven-bomb{
    0% {
    	-webkit-transform: scale(0);
    	transform: scale(0);
    }
    100%{
    	-webkit-transform: scale(2);
    	transform: scale(2);
    }
}
@keyframes seven-bomb{
    0% {
    	-webkit-transform: scale(0);
    	transform: scale(0);
    }
    100%{
    	-webkit-transform: scale(2);
    	transform: scale(2);
    }
}

.seven-photos{
	.ab-center(453px, 589px);
	z-index: 99;

	.photo-item{
		.bg-cover();
		border: 10px solid #fff;
		position: absolute;
		width: 100%;
		height: 100%;
		-webkit-transform-origin: left bottom;
		transform-origin: left bottom;
		.ani-name(seven-photos);

		&:nth-child(1){
			-webkit-transform: rotateZ(5deg) translate3d(-65px, -65px, 0);
    		transform: rotateZ(5deg) translate3d(-65px, -65px, 0);
    		z-index: 3;
    		.ani-delay(2.9s);
		}
		&:nth-child(2){
			-webkit-transform: rotateZ(7deg) translate3d(-40px, -40px, 0);
    		transform: rotateZ(7deg) translate3d(-40px, -40px, 0);
    		z-index: 2;
    		.ani-delay(2.7s);
		}
		&:nth-child(3){
			-webkit-transform: rotateZ(8deg) translate3d(-10px, -10px, 0);
    		transform: rotateZ(8deg) translate3d(-10px, -10px, 0);
    		z-index: 1;
    		.ani-delay(2.5s);
		}
	}

}
@-webkit-keyframes seven-photos{
    0% {
    	-webkit-transform: translateX(-5000px);
    	transform: translateX(-5000px);
    }
    100%{
    }
}
@keyframes seven-photos{
    0% {
    	-webkit-transform: translateX(-5000px);
    	transform: translateX(-5000px);
    }
    100%{
    }
}

.seven-bg-ani{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 50;
}
.seven-c-bottom{
	.bg-normal('imgs/7/circle-bottom.png');
	position: absolute;
	bottom: 0;
	width: 640px;
	height: 412px;
	.ani-name(seven-c-bottom);
	-webkit-transform-origin: center bottom;
	transform-origin: center bottom;
}
@-webkit-keyframes seven-c-bottom{
    0% {
    	-webkit-transform: translateY(500px);
    	transform: translateY(500px);
    }
    10%{
    	-webkit-transform: translateY(0);
    	transform: translateY(0);
    }
    60%{
    	opacity: .8;
    }
    100%{
    	-webkit-transform: scale(1.2);
    	transform: scale(1.2);
    	opacity: 0.5;
    }
}
@keyframes seven-c-bottom{
    0% {
    	-webkit-transform: translateY(500px);
    	transform: translateY(500px);
    }
    10%{
    	-webkit-transform: translateY(0);
    	transform: translateY(0);
    }
    60%{
    	opacity: .8;
    }
    100%{
    	-webkit-transform: scale(1.2);
    	transform: scale(1.2);
    	opacity: 0;
    }
}

.seven-c-left{
	.bg-normal('imgs/7/circle-b.png');
	position: absolute;
	left: 0;
	top: 50px;
	width: 419px;
	height: 494px;
	.ani-name(seven-c-left);
	-webkit-transform-origin: left center;
	transform-origin: left center;
}
@-webkit-keyframes seven-c-left{
    0% {
    	-webkit-transform: scale(.2);
    	transform: scale(.2);
    	visibility: hidden;
    }
    1%{
    	visibility: visible;
    }
    10%{
    	webkit-transform: scale(1);
    	transform: scale(1);
    }
    60%{
    	opacity: .8;
    }
    100%{
    	webkit-transform: scale(1.5);
    	transform: scale(1.5);
    	opacity: 0;
    }
}
@keyframes seven-c-left{
    0% {
    	-webkit-transform: scale(.2);
    	transform: scale(.2);
    	visibility: hidden;
    }
    1%{
    	visibility: visible;
    }
    10%{
    	webkit-transform: scale(1);
    	transform: scale(1);
    }
    60%{
    	opacity: .8;
    }
    100%{
    	webkit-transform: scale(1.5);
    	transform: scale(1.5);
    	opacity: 0;
    }
}


.seven-c-top{
	.bg-normal('imgs/7/circle-s.png');
	position: absolute;
	right: 0;
	top: 0;
	width: 238px;
	height: 142px;
	.ani-name(seven-c-left);
	-webkit-transform-origin: right top;
	transform-origin: right top;
}

#seven-content-txt-s{
	background-image: url('imgs/7/txt-bg-s.png');
	top: 80px;
	right: 40px;
	min-width: 112px;
	.ani-name(seven-content-txt-s);
}
@-webkit-keyframes seven-content-txt-s{
    0% {
    	-webkit-transform: translateX(500px);
    	transform: translateX(500px);
    }
    100%{
    	-webkit-transform: translateX(0);
    	transform: translateX(0);
    }
}
@keyframes seven-content-txt-s{
    0% {
    	-webkit-transform: translateX(500px);
    	transform: translateX(500px);
    }
    100%{
    	-webkit-transform: translateX(0);
    	transform: translateX(0);
    }
}

#seven-content-txt{
	background-image: url('imgs/7/txt-bg.png');
	bottom: 80px;
	left: 60px;
	min-width: 315px;
	text-align: left;
}
@-webkit-keyframes seven-content-txt{
    0% {
    	-webkit-transform: translateX(500px);
    	transform: translateX(500px);
    }
    100%{
    	-webkit-transform: translateX(0);
    	transform: translateX(0);
    }
}
@keyframes seven-content-txt{
    0% {
    	-webkit-transform: translateX(500px);
    	transform: translateX(500px);
    }
    100%{
    	-webkit-transform: translateX(0);
    	transform: translateX(0);
    }
}

